{% extends "crud.html" %}

{% block crud_context %}
<div class="text-center">
    <a class="btn" href="{% url 'drinks-add' %}">Add New</a>
</div>
<hr>

{% if drinks %}
<div class="row">
    {% for drink in drinks %}
    <div class="col-md-3" style="margin-top: 5px; margin-bottom: 5px">
        <button style="width: 100%; padding:10px" class="btn btn-outline-info btn-lg">
            <i class="fa fa-beer" aria-hidden="true"></i> {{drink.drink}}
        </button>
        <br>

        <div class="text-center">
            <a class="" href="{% url 'drinks-update' drink.pk %}"> edit</a> <i class="fa fa-edit"></i> |
            <a class="" href="{% url 'drinks-delete' drink.pk %}"> delete <i class="fa fa-times"></i></a>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="text-center"><p>No drinks for research available</p></div>
{% endif %}

{% endblock %}