{% extends "crud.html" %}
{% block crud_context %}

<div class="col-lg-4 mx-auto">
    <form method="post" action="."> {% csrf_token %}
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Username</label>
                {{form.location}}
                <p style="color: red" class="help-block text-danger">{{form.location.errors}}</p>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" id=""> Update Location</button>
        </div>
    </form>
</div>
{% endblock %}